@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import "tailwindcss";
@theme{
    --nav-text-hover-color: #fea55f;
    --bg-color: #011627;
    --font-handlee: "Handlee", cursive;
    --shadow-homepage: 10px 0px 20px 0px #011627;
}
/* The animation code */
@keyframes navbar-animation {
    0%   {transform: translateY(-200%);}
    15%  {transform: translateY(-150%);}
    25% {transform: translateY(-100%);}
    50%  {transform: translateY(-70%);}
    75%  {transform: translateY(-50%);}
    100%  {transform: translateY(0%);}
    /* 4%{color: #01162771;} */
  }
  
.navbar-animated {
    position: relative;
    animation-name: navbar-animation;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}