@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import "tailwindcss";
@theme{
    --nav-text-hover-color: #fea55f;
    --bg-color: #011627;
    --font-handlee: "Handlee", cursive;
    --shadow-homepage: 10px 0px 20px 0px #011627;
    --animate-hometyping: hometyping 2s steps(20) alternate-reverse infinite;

    @keyframes hometyping {
        from{
            text-shadow: 10px 5px 20px black;
            width: 0ch;
        }
    }
}

.ope-gradient{
    background-image: linear-gradient(to right, blue, red);
    color: transparent;
    background-clip: text;
  }
/* The animation code */
@keyframes navbar-animation {
    from   {transform: translateY(-200%);}
  }
  
.navbar-animated {
    position: relative;
    animation-name: navbar-animation;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-duration: 1.5s;
}
@media screen and (width<= 1063px) {
    article img{
        display: none;
    }
    .about{
        font-size: 1.3rem;
        width: 90%;
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 914px){
    .mainHome{
        flex-wrap: wrap;
        justify-content: center;
        
    }    
}
@media screen and  (width <= 784px){
    .about{
        font-size: 18px;
    }
}