@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import "tailwindcss";
@theme{
    --nav-text-hover-color: #fea55f;
    --bg-color: #011627;
    --font-handlee: "Handlee", cursive;
    --shadow-homepage: 10px 0px 20px 0px #011627;
    --animate-hometyping: hometyping 2s steps(20) alternate-reverse infinite;
    
    
    @keyframes hometyping {
        from{
            text-shadow: 10px 5px 20px black;
            width: 0ch;
        }
    }
}
/* The animation code */
@keyframes navbar-animation {
    from   {transform: translateY(-200%);}
  }
  
.navbar-animated {
    position: relative;
    animation-name: navbar-animation;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}